<div class="close-btn">
    <button mat-icon-button [mat-dialog-close]=""><mat-icon>close</mat-icon></button>
</div>
<div class="welcome-text2">
  Updating Feedback
</div>
<form [formGroup]="newFeedbackForm">
    <div class="second">
        <mat-form-field class="code-input">
            <input matInput placeholder="Interviewer *" formControlName="interviewerControl">
        </mat-form-field>
        <mat-form-field class="code-input">
            <input type="date" matInput placeholder="Interview Date *" formControlName="dateControl">
        </mat-form-field>
    </div>
    <div class="second">
        <mat-form-field class="code-input">
            <input type="time" matInput placeholder="Start Time *" formControlName="startTimeControl">
        </mat-form-field>
        <mat-form-field class="code-input">
            <input type="time" matInput placeholder="End Time *" formControlName="endTimeControl">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="description-input">
            <textarea matInput placeholder="Comments *" formControlName="commentsControl"></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="description-input">
            <textarea matInput placeholder="Notes" formControlName="notesControl"></textarea>
        </mat-form-field>
    </div>
    <div class="submit-div">
        <button [disabled]="!newFeedbackForm.valid" class="submit-btn" mat-raised-button type="submit" (click)="onSubmit()" [mat-dialog-close]="newFeedbackForm.value">Submit</button>
    </div>
</form>
