h1, h2 {
    text-align: center;
    margin-top: 3%;
}

.full-width {
    width: 80%;
}

.login-card {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
}

.login-title {
    width:100%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    margin-bottom: 3%;
}
.submit {
    text-align: center;
}