<div class="welcome-banner">
  <h1 class="welcome-text">Applicant Console</h1>
</div>
<div class="row">
  <div class="column">
    <h1 class="col-title">Update Personal Info</h1>
    <img class="col-img" src="https://www.pngitem.com/pimgs/m/504-5040528_empty-profile-picture-png-transparent-png.png">
    <p class="col-sum">
      Here, you can view and update your previous application information or add new information.
    </p>
    <button class="col-btn" mat-raised-button color="primary" routerLink="info">GO</button>
  </div>
  <div class="column">
    <h1 class="col-title">Find Jobs</h1>
    <img class="col-img" src="https://www.kindpng.com/picc/m/25-254103_transparent-job-icon-png-transparent-background-job-icon.png">
    <p class="col-sum">
      Here, you can find available jobs, read descriptions and details about the job, and apply simply and efficiently.
    </p>
    <button class="col-btn" mat-raised-button color="primary" routerLink="find">GO</button>
  </div>
</div>

