<div *ngIf="this.data.error" class = "error">
    <h1 class="title">ERROR</h1>
    <div class="message">
        {{this.data.message}}
    </div>
    <div class="btn">
        <button mat-button [mat-dialog-close]="">OK!</button>
    </div>
</div>
<div *ngIf="!this.data.error" class="success">
    <h1 class="title">SUCCESS</h1>
    <div class="message">
        {{this.data.message}}
    </div>
    <div class="btn">
        <button mat-button [mat-dialog-close]="">OK!</button>
    </div>
</div>

