<div class="close-btn">
    <button mat-icon-button [mat-dialog-close]=""><mat-icon>close</mat-icon></button>
</div>
<form [formGroup]="newJobFormGroup">
    <div>
        <mat-form-field class="jp-input">
            <mat-label>Job Position Name *</mat-label>
            <mat-select formControlName="positionControl">
                <mat-option *ngFor="let position of data.positions" [value]="position.name" >
                    {{position.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="jn-input">
            <input matInput placeholder="Job Name *" formControlName="jobNameControl">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="jc-input">
            <mat-label>Job Category Name *</mat-label>
            <mat-select formControlName="categoryControl">
                <mat-option *ngFor="let category of data.categories" [value]="category.name">
                    {{category.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-form-field class="id-input">
        <input type="number" onkeypress="return event.charCode >= 48" matInput placeholder="Job ID *" formControlName="idControl">
    </mat-form-field>
    <mat-form-field class="code-input">
        <input matInput placeholder="Job Code *" formControlName="codeControl">
    </mat-form-field>
    <div>
        <mat-form-field class="description-input">
            <textarea matInput placeholder="Job Description" formControlName="descriptionControl"></textarea>
        </mat-form-field>
    </div>
    <mat-form-field class="id-input">
        <input type="number" matInput placeholder="Number of Vacancies" formControlName="vacanciesControl">
    </mat-form-field>
    <div>
        <mat-form-field class="jc-input">
            <mat-label>Process Name *</mat-label>
            <mat-select formControlName="processControl">
                <mat-option *ngFor="let process of data.processes" [value]="process.name">
                    {{process.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="id-input">
            <input matInput placeholder="Modified By" formControlName="modifier">
        </mat-form-field>
        <mat-form-field class="code-input date">
            <input type="date" matInput placeholder="Modified Date" formControlName="modifiedDate">
        </mat-form-field>
    </div>
    <div class="submit-div">
        <button [disabled]="!newJobFormGroup.valid" class="submit-btn" mat-raised-button type="submit" (click)="onSubmit()" [mat-dialog-close]="newJobFormGroup.value">Submit</button>
    </div>
</form>
